@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%; /* Alterado para 100% para torná-lo responsivo */
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 20px;
}

.icon {
    font-size: 4vw; /* Alterado para unidade de viewport width para torná-lo responsivo */
    color: green; /* Cor verde */
    margin-bottom: 20px;
}

.btn-sair {
    background-color: red; /* Cor vermelha */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Adicionando regras de mídia para tornar o layout responsivo em dispositivos de diferentes tamanhos de tela */
@media (max-width: 768px) {
    .container {
        margin: 20px auto;
        padding: 10px;
    }
    .icon {
        font-size: 8vw;
    }
}